<body>
    <h2>Sorry, you do not have permission to view this page. Please Login first.</h2>
    
    Click <a href="<c:url value="/index.html" /> ">here</a>
    to go back to the Homepage.
    </body>