<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div sec:authorize="isAuthenticated()"> Signed In As: <span sec:authentication="name"></span></div>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Create A Grocery List </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
    <div class="container my-5">
        <h3>Grocery Lists</h3>
        <div class="card" th:if="${not #strings.isEmpty(supIngredients)}"> 
            <h4>Click on an Ingredient to Add to Grocery List</h4>
            <div class="card-body">
                <div class="col-md-10">
                    <ol th:each="item: ${supIngredients}" >
                        <div class="col-md-3" sec:authorize="isAuthenticated()">
                            <form th:action="@{/recipes/saveToList}" th:value="${item}" method="post">
                                <input type="hidden" name="ingredient" id="ingredient" th:value="${item}">
                                <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                                <input type="submit" th:value="${item}" >
                            </form>
                        </div>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card"> 
            <h4>Enter Ingredient to Add to Grocery List</h4>
            <div class="card-body">
                <div class="col-md-10">
                    <div class="col-md-3" sec:authorize="isAuthenticated()">
                        <form th:action="@{/recipes/saveToList}" th:value="${ingredient}" method="post">
                            <input type="text" name="ingredient" id="ingredient" size="50" th:value="${ingredient}" required />
                            &nbsp;
                            <p>
                            <input type="submit" value="Add" />
                            </p> 
                            &nbsp;
                            <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card" th:if="${#lists.isEmpty(groceryList)}">
                <h3> No Saved Grocery List </h3>     
            </div>
            <div class="card" th:if="${not #lists.isEmpty(groceryList)}">
                <h3> Current Grocery List </h3>
                <div class="card-body">
                    <div class="col-md-10">
                        <ol th:each="item: ${groceryList}" >
                            <td th:text=${item} ></td>
                        </ol>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <p>
                        <form th:action="@{/recipes/sendList}" th:value="${email}">
                            <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                            <input type="submit" th:value="Send">
                        </form>
                        </p> 
                    </div>
                    <div sec:authorize="isAuthenticated()"> 
                        <p>
                        <form th:action="@{/recipes/deleteList}" th:value="${email}">
                            <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                            <input type="submit" th:value="Delete"  >
                        </form>
                        </p> 
                    </div>
            </div>
        </div>
    </div>    
        <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <p class="my-5">
                    <div sec:authorize="isAuthenticated()"> 
                        <a href="/recipes/home" class="btn btn-primary"><i
                        class="fas fa-sing-alt ml-2"> Back</i></a>
                    </div>
                </p>
            </div>
</body>
</html>