<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <h2 th:text="#{app.title}">App Title</h2>
    <title>What's For Dinner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>  
    <!--div class="container my-1"-->
        <div class="card">
            <div class="card-body">
                <p class="my-1">
                    <h4>Login To Your Account</h4>
                    <a href="/login" class="btn btn-primary"><i
                    class="fas fa-sing-in-alt ml-2">Login</i></a>
                </p>
                <p class="my-2">
                    <h4>No Account, Create One</h4>
                    <a href="/createUser" class="btn btn-primary"><i
                    class="fas fa-user-alt ml-2"> Create User</i></a>
                </p>
                <p class="my-3">
                    <h4>No Account, No Problem, Search For Recipes</h4>
                    <a href="/recipes/home" class="btn btn-primary"><i
                    class="fas fa-sing-alt ml-2"> Search for Recipes</i></a>
                </p>
            </div>
        </div>
</body>

</html>