<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div sec:authorize="isAuthenticated()"> Signed In As: <span sec:authentication="name"></span></div>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recipe Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Search For Recipes</h3>
        <h4>Enter A Main Ingredient Below To Find Recipes</h4>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/recipes/search}">
                        Search: <input type="text" name="mainIngredient" id="mainIngredient" size="50" th:value="${mainIngredient}" required />
                        &nbsp;
                        <input type="submit" value="Search" />
                        &nbsp;
                        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
                    </form>
                    <script type="text/javascript">
                        function clearSearch() {
                            window.location = "[[@{/recipes/home}]]";
                        }
                    </script>
                </div>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(recipes)}" >
            <div class="card-body">
                <div class="col-md-10">
                        <table id="table1" th:object="${recipes}">
                            <tr>
                                <th>Recipe </th>
                                <th>Main Ingredient </th>
                                <th>Other Ingredients </th>
                                <th>Directions </th>
                                <th>Recipe ID </th>
                                <th> Save Recipe </th>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.getName()}"></td>
                                <td th:text="${mainIngredient}"></td>
                                <!--td 
                                    th:with stringArr="${recipe.getSupIngredients()}.split(',')"
                                    th:each="item, count : ${stringArr}" th:text="${item}" -->
                                <td th:text="${recipe.getSupIngredients()}"></td>
                                <td th:text="${recipe.getDirections()}"></td>
                                <td th:text="${recipe.getId()}"></td>
                                <td>
                                    <div class="col-md-10" sec:authorize="isAuthenticated()">
                                        <form th:action="@{/recipes/save}" th:value="${recipe.getId()}" method="post">
                                        <input type="hidden" name="recipe_id" id="recipe_id" th:value="${recipe.getId()}">
                                        <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                                        <input type="submit" class="btn btn-primary" value="Save">
                                        </form>
                                    </div>
                                    <div class="col-md-10" sec:authorize="isAnonymous()">
                                        <a href="/createUser" class="btn btn-primary" ><i
                                            class="fas fa-sing-alt ml-2"> Create Profile To Save</i>
                                        </a> 
                                    </div>
                                </td>
                                <td>  
                                    <div class="col-md-7" sec:authorize="isAuthenticated()">
                                        <form th:action="@{/recipes/createList}" th:value="${recipe.getSupIngredients()}">
                                            <input type="hidden" name="sup_ingredients" id="sup_ingredients" th:value="${recipe.getSupIngredients()}">
                                            <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                                            <input type="submit" class="btn btn-primary" value="Create List">
                                        </form>
                                    </div>
                                </td>
                                <!--td>
                                    <div class="col-md-6" sec:authorize="isAuthenticated()">
                                        <a href="/recipes/createList" class="btn btn-primary"><i
                                            class="fas fa-sing-alt ml-2"> Create Grocery List </i></a>
                                        <input type="hidden" name="sup_ingredients" id="sup_ingredients" th:value="${recipe.getSupIngredients()}">
                                    </div>
                                </td-->
                            </tr>
                        </table>
                </div>
            </div>                    
        </div>
        <div th:if="${empty == true}">
            <b>No Recipes Found </b>
        </div>
        <div class="container my-2"> 
            <div class="card">
                <div class="card-body">
                    <p class="my-5">
                        <div sec:authorize="isAuthenticated()"> 
                            <form th:action="@{/recipes/viewList}">
                                <input type="hidden" name="email" id="email" th:value="${#authentication.getPrincipal().getUsername()}">
                                <input type="submit" class="btn btn-primary" value="View List">
                            </form>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-2">
            <div class="card">
                <div class="card-body">
                    <p class="my-5">
                        <div sec:authorize="isAuthenticated()"> 
                            <a href="/users" class="btn btn-primary"><i
                            class="fas fa-sing-alt ml-2"> Back</i></a>
                        </div>
                        <div sec:authorize="isAnonymous()" >
                            <a href="/" class="btn btn-primary"><i
                            class="fas fa-sing-alt ml-2"> Back</i></a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>