<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<h2>Recipe Search Results</h2>

<table id="table1" th:object="${recipes}">
    <tr>
        <th>Recipe</th>
        <th>Main Ingredient</th>
        <th>Other Ingredients</th>
        <th>Directions</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getName}"></td>
        <td th:text="${recipe.getMainIngredient()}"></td>
        <td th:text="${recipe.getSupIngredients()}"></td>
        <td th:text="${recipe.getDirections()}"></td>
    </tr>
</table>
</body>