<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Home</title>
    <meta name="viewport" content="width=device-width, initialS-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h2>User Details</h2>
    </div>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <p class="my-5">
                    <a href="/recipes/home" class="btn btn-primary"><i
                    class="fas fa-sing-alt ml-2"> Search for Recipes</i></a>
                </p>
            </div>
        </div>
    </div>
    <div>
        <table id="table1" th:object="${user}">
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Mobile </th>
                <th> User ID </th>
            </tr>
            <tr >
                <tr th:each="user: ${user}" >
                    <td th:text="${user.getName()}">Name</td>
                    <td th:text="${user.getEmail()}">Email</td>
                    <td th:text="${user.getMobile()}">Mobile</td>
                    <td th:text="${user.getId()}">User ID</td>
                    <td>
                        <div class="col-md-6" th:if="${user.getRecipeID() != null}">
                        <form th:action="@{/users/showRecipe}">
                            <input type="hidden" th:value=${user.getRecipeID()} name="recipe_id">
                            <input type="submit" class="btn btn-primary" value="View Saved Recipes">
                        </form>
                        </div>
                    </td>
            </tr>
        </table>

        <div class="card" th:if="${not #lists.isEmpty(recipes)}" >
            <div class="card-body">
            <table id="table2" th:object="${recipes}">            
            <tr>
                <th>Recipe </th>
                <th>Other Ingredients </th>
                <th>Directions </th>
                <th>Recipe ID </th>
            </tr>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.getName()}"> Recipe </td>
                <td th:text="${recipe.getSupIngredients()}"> Other Ingredients </td>
                <td th:text="${recipe.getDirections()}"> Directions </td>
                <td th:text="${recipe.getId()}">Recipe ID </td>
        </table>
        <div>
            <a href="/users" class="btn btn-primary"><i
            class="fas fa-sing-alt ml-2"> Back</i></a>
        </div>
        </div> 
    </div>

    <!--div>
        <div sec:authorize="isAuthenticated()"> 
            <a href="/users/showRecipe" class="btn btn-primary"><i
            class="fas fa-sing-alt ml-2"> View Saved Recipes </i></a>
        </div>  
    </div-->
</div>
</body>
</html>